<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Войти на сайт</title>
    {% load static %}
    {% load user_filters %}
    <link rel="stylesheet" href={% static "/pages/form.css" %}>
</head>
<body class="body">
<header class="header">
    {% include "nav.html" %}
</header>
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Войти на сайт</h1>
    </div>

    <div class="form-container">
        <
            <form action="." method="post" class="form">
                {% csrf_token %}
                
            <div class="form__group">
                <label for="{{ form.username.id_for_label }}" class="form__label">Имя</label>
                <div class="form__field-group">
                  {{ form.username|addclass:"form__input" }}
                    <span class="form__error"></span>
                </div>
            </div>
            <div class="form__group">
                <label for="{{ form.password.id_for_label }}" class="form__label">Пароль</label>
                <div class="form__field-group">
                  {{ form.password|addclass:"form__input" }}
                    <span class="form__error">
                        {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                          Имя пользоваетеля и пароль не совпадают. Введите правильные данные.
                        </div>
                        {% endif %}
                    </span>
                </div>
            </div>
            <div class="form__footer">
                <button class="button button_style_blue" type="submit">Войти</button>
                <a ref="{% url 'password_reset' %}" class="form__forgot-link">Забыли пароль?</a>
            </div>
     
    </form>
    </div>


</main>
<footer class="footer">
    <div class="footer__container container">
        <a href="#" class="footer__brand link">Продуктовый помощник</a>
        <ul class="footer__items">
            <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
            <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
