{% extends "registration/base.html" %} 
{% block title %} Сброс пароля {% endblock %}
{% load user_filters %}
{% block content %}
<div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="form-container">
        <form action="." method="post" class="form">
            {% csrf_token %}
            <p class="form__info-text">
                Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались.
            </p>
            <div class="form__group">
                <label for="{{ form.email.id_for_label }}" class="form__label">Адрес электронной почты</label>
                <div class="form__field-group">
                    {{ form.email|addclass:"form__input" }}
                      <span class="form__error">{% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                          Имя пользоваетеля и пароль не совпадают. Введите правильные данные.
                        </div>
                        {% endif %}</span>
                </div>
            </div>
           <div class="form__footer">
               <button class="button button_style_blue" type="submit">Сбросить пароль</button>
           </div>
        </form>
    </div>

    {% endblock %}
