{% extends "base.html" %}
{% block title %}Ошибка 404 {% endif %}
{% endblock %}
{% load user_filters %}
{% load static %}
{% block style %}
<link rel="stylesheet" href={% static "/pages/index.css" %}>{% endblock %}
{% block content %}
<div class="custom-center-block">
    <h1>Ошибка 404</h1>
    <p class="lead">Страница <code>{{ path }}</code> не найдена</p>

    <div class="custom-button-block">
        <button class="button button_style_blue">Перейти на главную</button>
    </div>

</div>


</main>
{% endblock %}