{% extends "base.html" %} 
{% block title %} Избранное {% endblock %}
{% load user_filters %}
{% load static %}
{% block style %} <link rel="stylesheet" href={% static "/pages/index.css" %}>{% endblock %}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">Избранное</h1>
    <ul class="tags">
        <li class="tags__item">
            <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange tags__checkbox_active" href="#"></a>
            <span class="tags__label">Завтрак</span>
        </li>
        <li class="tags__item">
            <a id="lunch" class="tags__checkbox tags__checkbox_style_green tags__checkbox_active" href="#"></a>
            <span for="lunch" class="tags__label">Обед</span>
        </li>
        <li class="tags__item">
            <a id="dinner" class="tags__checkbox tags__checkbox_style_purple tags__checkbox_active" href="#"></a>
            <label for="dinner" class="tags__label">Ужин</label>
        </li>
    </ul>

</div>
<div class="card-list">
    {% for item in recipes %}
    <div class="card" data-id="{{ item.recipe.id }}">
        <a href="{% url 'post_url' item.recipe.slug %}" class="link" target="_blank"><img src="{{ item.recipe.image.url }}" alt="Фото {{ item.recipe.title }}" class="card__image"></a>
        <div class="card__body">
            <a class="card__title link" href="" target="_blank">{{ post.title }}</a>
            <ul class="card__items">
                {% for tag in item.recipe.tags.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.style }}">{{ tag.name }}</span></li>
                {% endfor %}
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span> {{ item.recipe.time }} мин.</p>
                <p class="card__text"><span class="icon-user"></span> <a href="{% url 'author_url' item.recipe.author %}" style="color: black">{{ item.recipe.author }}</a></p>
            </div>
        </div>
        <div class="card__footer">
            {% if not recipe.id in buying_list %}
            <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        {% else %}
            <button class="button button_style_light-blue" name="purchases"><span class="icon-plus button__icon"></span>Рецепт добавлен</button>
        {% endif %}
            
        <button class="button button_style_none" name="favorites" {% if not post.id in fav_list %}data-out{% endif %}><span class="icon-favorite {% if post.id in fav_list %}icon-favorite_active{% endif %}"></span></button>      
  
        </div>
    </div>
    {% endfor %}
    
</div>
{% include 'paginator.html' with recipes=recipes%}   
</main>
{% endblock %}
{% block script %}

<script src="{% static 'js/config/config.js' %}"></script>
    {% if user.is_authenticated %}
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/Favorites.js' %}"></script>
   
    <script src="{% static 'js/components/Subscribe.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/CardList.js' %}"></script>    
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'indexAuth.js' %}"></script>

    {% else %}
    <script src="{% static 'js/components/Purchases.js' %}"></script>
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'indexNotAuth.js' %}"></script>
    {% endif %}

{% endblock %}