{% extends "base.html" %} 
{% block title %} Добавление рецепта{% endblock %}
{% load user_filters %}
{% block add_recipe %}<li class="nav__item nav__item_active">{% endblock %}
{% load static %}
{% block style %} <link rel="stylesheet" href={% static "/pages/form.css" %}>{% endblock %}
{% block content %}
<div class="main__header">
    <h1 class="main__title">Создание рецепта</h1>
</div>
<div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data" action="."> 
        {% csrf_token %}
        <div class="form__group">
            <label for="id_name" class="form__label">Название рецепта</label>
            <div class="form__field-group">
                {{ form.title|addclass:"form__input" }}
                {% if form.errors %}
                    {% for error in form.title.errors %}
                        <span class="form__error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form__group">
            <p class="form__label">Теги</p>
            <div class="form__field-group">
                <div class="tags">
                    {%  for tag in tags %}
                    <div class="tags__item">
                        <input 
                            type="checkbox" 
                            name="tags" 
                            value="{{ tag.pk }}"
                            id="id_{{ tag.value }}"
                            class="tags__checkbox tags__checkbox_style_{{ tag.style }}">
                        <label for="id_{{ tag.value }}" class="tags__label">{{ tag.name }}</label>
                    </div>
                    {% endfor %}
                </div>
                <span class="form__error">{{ form.tags.errors }}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="nameIngredient" class="form__label">Ингредиенты</label>
            <div class="form__field-group">
                <div class="form__field-group-ingredientes">
                    <div class="form__dropdown">
                        <input type="text" id="nameIngredient" class="form__input">
                        <div class="form__dropdown-items"></div>
                    </div>
                    <input type="number" id="cantidad" class="form__input" min="0">
                    <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                </div>
                <div class="form__field-group-ingredientes-container">

                </div>
                <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_time" class="form__label">Время приготовления</label>
            <div class="form__field-group form__field-group_time">
                {{ form.time|addclass:"form__input" }}
                <label for="id_time" class="form__label">минут</label>
                {% if form.errors %}
                    {% for error in field.errors %}
                        <span class="form__error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form__group">
            <label for="{{ form.text.id_for_label }}" class="form__label">Описание</label>
            <div class="form__field-group">
                {{ form.text|addclass:"form__textarea" }}
                {% if form.errors %}
                    {% for error in field.errors %}
                        <span class="form__error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form__group">
            <span class="form__label">Загрузить фото</span>
            <div class="form__field-group">
                {{ form.image|addclass:"form__file-button" }}
                {% if form.errors %}
                    {% for error in field.errors %}
                        <span class="form__error">{{ error|escape }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="form__footer">
            {% if request.path == "/add_recipe/" %}
            <button class="button button_style_blue" type="submit" id="submit-button">Создать рецепт</button>
          {% else %}
            <button class="button button_style_blue" type="submit" id="submit-button">Изменить рецепт</button>



            <a href="{% url 'recipes:delete_recipes_url' recipe.slug %}" style="padding-left: 10px;" id="delete">Удалить</a>
          {% endif %}
        </div>
    </form>
</div>


</main>
{% endblock %}
{% block script %}
<script src={% static "/js/config/config.js" %}></script>
<script src={% static "/js/components/Header.js" %}></script>
<script src={% static "/js/utils/debouncing.js" %}></script>
<script src={% static "/js/api/Api.js" %}></script>
<script src={% static "formRecipe.js" %}></script>

{% endblock %}

