{% extends "base.html" %} 
{% block title %} Мои подписки {% endblock %}
{% load static %}
{% block style %} <link rel="stylesheet" href={% static "/pages/myFollow.css" %}>{% endblock %}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">Мои подписки</h1>
</div>
<div class="card-list">
    {% for sub in subscriptions %}
    {% with subscriptions_recipes=sub.get_recipes %}
    <div class="card-user" data-author="{{ sub.author.id }}">
    <div class="card-user__header">
        <h2 class="card-user__title">{{ sub.author }}</h2>
    </div>
    <div class="card-user__body">
        <ul class="card-user__items">
            {% for recipe in subscriptions_recipes %}
            {% if forloop.counter < 4 %}
            <li class="card-user__item">
                <div class="recipe">
                    <img src="{{ recipe.image.url }}" alt="фото {{ recipe.title }}" class="recipe__image">
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>
                </div>
            </li>
            {% endif %}
            {% endfor %}
            {% if forloop.counter > 3 %}
            <li class="card-user__item">
                <a href="{% url 'author_url' sub.author.username %}" class="card-user__link link">Еще рецептов {{ subscriptions_recipes.count|add:-3 }}</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card-user__footer">
        <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
    </div>
</div>
{% endwith %}
{% endfor %}
</div>
{% if page.has_other_pages %} 
{% include 'paginator.html' with recipes=subscriptions %}   
{% endif %}
</main>
{% endblock %}
{% block script %}
<script src="{% static '/js/config/config.js' %}"></script>
<script src="{% static 'js/components/MainCards.js' %}"></script>
<script src="{% static '/js/components/MyFollow.js' %}"></script>
<script src="{% static 'js/components/Subscribe.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'myFollow.js' %}"></script>


{% endblock %}