{% extends "base.html" %} 
{% block title %} Автор {{ user.username }}{% endblock %}
{% load user_filters %}
{% load posts_extras %}
{% load static %}
{% block style %} <link rel="stylesheet" href={% static "/pages/index.css" %}>{% endblock %}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <h1 class="main__title">{{ user.username }}</h1>
    <ul class="tags">
        {% with filter_values=request.GET|get_filter_values %}
        {% for tag in all_tags %}
        <li class="tags__item">
            <a 
                id="{{ tag.value }}" 
                class="tags__checkbox tags__checkbox_style_{{ tag.style }} {% if tag.name in filter_values %}tags__checkbox_active{% endif %}" href="/author/{{ user.username }}/?{{ request|get_filter_link:tag }}"></a>
        <span class="tags__label">{{ tag.name }}</span>     
    </li>
        {% endfor %}
        {% endwith %}
</ul>

</div>{% if request.user.is_authenticated and request.user !=  user %}
<div class="author-subscribe" data-author="{{ user.id }}">
    
    <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" {% if not subsc %}data-out>Подписаться на автора {% else %}><span class="icon-check button__icon"></span> Отписаться от автора{% endif %}</button></p>
    
      
{% endif %}
    
</div>
<div class="card-list" >
    {% for post in page %}
    <div class="card" data-id="{{ post.id }}">
        <a href="{% url 'posts:post_url' post.slug %}" class="link" target="_blank"><img src="{{ post.image.url }}" alt="Фото {{ post.title }}" class="card__image"></a>
        <div class="card__body">
            <a class="card__title link" href="{% url 'posts:post_url' post.slug %}" target="_blank">{{ post.title }}</a>
            <ul class="card__items">
                {% for tag in post.tags.all %}
                <li class="card__item"><span class="badge badge_style_{{ tag.style }}">{{ tag.name }}</span></li>
                {% endfor %}
            </ul>
            <div class="card__items card__items_column">
                <p class="card__text"><span class="icon-time"></span> {{ post.time }} мин.</p>
                <p class="card__text"><span class="icon-user"></span> <a href="{% url 'posts:author_url' post.author %}" style="color: black">{{ post.author }}</a></p>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="card__footer">
            
            {% if not post.id in buying_list %}
            <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Добавить в покупки</button>
        {% else %}
            <button class="button button_style_light-blue" name="purchases"><span class="icon-plus button__icon"></span>Рецепт добавлен</button>
        {% endif %}
        <button class="button button_style_none" name="favorites" {% if not post.id in fav_list %}data-out{% endif %}><span class="icon-favorite {% if post.id in fav_list %}icon-favorite_active{% endif %}"></span></button>           
        </div>
        {% endif %}
    </div>
        {% endfor %}
</div>
{% if page.has_other_pages %}
{% include 'paginator.html' %}   
 {% endif %}
</main>
{% endblock %}
{% block script %}


    <script src="{% static '/js/components/MainCards.js' %}"></script>

    <script src="{% static '/js/components/Purchases.js' %}"></script>
    <script src="{% static '/js/components/Favorites.js' %}"></script>
    <script src="{% static '/js/components/Subscribe.js' %}"></script>
  
    <script src="{% static '/js/config/config.js' %}"></script>
    <script src="{% static '/js/components/AuthorRecipe.js' %}"></script>
    <script src="{% static '/js/components/Header.js' %}"></script>
  
    <script src="{% static '/js/api/Api.js' %}"></script>
    <script src="{% static 'authorRecipe.js' %}"></script>

{% endblock %}
