{% extends "base.html" %} 
{% block title %} Страница покупок {% endblock %}
{% load user_filters %}
{% load static %}
{% block style %} <link rel="stylesheet" href={% static "pages/shopList.css" %}>{% endblock %}
{% block content %}
{% csrf_token %}

    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for item in purchases %}
            <li class="shopping-list__item" data-id="{{ item.recipe.id }}">
                <div class="recipe recipe_reverse">
                    <img src="{{ item.recipe.image.url }}" alt="Фото {{ item.recipe.title }}" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title"><a href="{% url 'recipes:post_url' item.recipe.slug %}">{{ item.recipe.title }}</a></h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ item.recipe.time }} мин.</p>
                </div>
                <a href="{% url 'del_one_purchase' item.recipe.id %}" class="shopping-list__button link">Удалить</a>
            </li>
            {% endfor %}
            
        </ul>
        {% if purchases_count != 0 %}
        <a href="{% url 'get_shop_list_url' %}"><button class="button button_style_blue">Скачать список</button></a>
        {% endif %}

    </div>
</main>



{% endblock %}
{% block script %}


<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>


{% endblock %}