{% extends "base.html" %} 
{% block title %} Страница покупок {% endblock %}
{% load user_filters %}
{% load static %}
{% block style %} <link rel="stylesheet" href={% static "pages/shopList.css" %}>{% endblock %}
{% block content %}
{% csrf_token %}
<div class="main__header">
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            <li class="shopping-list__item" data-id="111">
                <div class="recipe recipe_reverse">
                    <img src="../media/testCardImg.png" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">Французские тосты</h3>
                    <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
            <li class="shopping-list__item" data-id="1112">
                <div class="recipe recipe_reverse">
                    <img src="../media/testCardImg.png" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">Французские тосты</h3>
                    <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
            <li class="shopping-list__item" data-id="1113">
                <div class="recipe recipe_reverse">
                    <img src="../media/testCardImg.png" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">Французские тосты</h3>
                    <p class="recipe__text"><span class="icon-time"></span> 20 мин.</p>
                </div>
                <a href="#" class="shopping-list__button link">Удалить</a>
            </li>
        </ul>
        <a href="#"><button class="button button_style_blue">Скачать список</button></a>


    </div>
</main>
<footer class="footer">
    <div class="footer__container container">
        <a href="#" class="footer__brand link">Продуктовый помощник</a>
        <ul class="footer__items">
            <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
            <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
        </ul>
    </div>
</footer>

</body>
</html>


{% endblock %}
{% block script %}


<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>


{% endblock %}